{% extends "blogs/base.html" %}

{% block body %}
<!-- {% for post in posts.all %} -->
  <!-- {% if post.is_public %} -->
    <!-- <a href="{% url 'post-detail' post.id %}"> -->
    <!-- <div class="recent"> -->
      <!-- <img src="{{post.image.thumbnail.url}}" width=300px alt=""> -->
      <!-- <p>{{post.title}}</p> -->
      <!-- <p>{{post.created_at}}</p> -->
      <!-- <p>{{post.summary}}</p> -->
    <!-- </div> -->
    <!-- </a> -->
  <!-- {% else %} -->
  <!-- {% endif %} -->
<!-- {% endfor %} -->
<p>{{test}}</p>
<p>{{result}}</p>
  <a href="./">戻る</a>
{% endblock %}
